In [1]:
import pandas as pd
import numpy as  np
import seaborn as sns
import matplotlib as mp

# Identification des grandes tendances des tables

In [2]:
datapop=pd.read_csv("fr_population.csv")

# Relation_Population

In [3]:
datapop.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle
5,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,7,Angola,511,Population totale,2501,Population,2013,2013,1000 personnes,21472,NaN,Donnée officielle
6,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,8,Antigua-et-Barbuda,511,Population totale,2501,Population,2013,2013,1000 personnes,90,NaN,Donnée officielle
7,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,194,Arabie saoudite,511,Population totale,2501,Population,2013,2013,1000 personnes,28829,NaN,Donnée officielle
8,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,9,Argentine,511,Population totale,2501,Population,2013,2013,1000 personnes,41446,NaN,Donnée officielle
9,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,1,Arménie,511,Population totale,2501,Population,2013,2013,1000 personnes,2977,NaN,Donnée officielle

In [4]:
datapop.columns

Index(['Code Domaine', 'Domaine', 'Code zone', 'Zone', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole'],
      dtype='object')

In [5]:
datapop.tail(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

In [6]:
datapop.iloc[174]

Code Domaine                                                           FBSH
Domaine                   Bilans Alimentaire (Ancienne méthodologie et p...
Code zone                                                               181
Zone                                                               Zimbabwe
Code Élément                                                            511
Élément                                                   Population totale
Code Produit                                                           2501
Produit                                                          Population
Code année                                                             2013
Année                                                                  2013
Unité                                                        1000 personnes
Valeur                                                                14150
Symbole                                                                 NaN
Description du Symbole                                    Donnée officielle
Name: 174, dtype: object

In [7]:
valchine=datapop.loc[datapop["Zone"]=="Chine"]
valchine

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [8]:
valchine=datapop[datapop ["Zone"]=="Chine"]
valchine

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."

In [9]:
datapop["Zone"]

0                                 Afghanistan
1                              Afrique du Sud
2                                     Albanie
3                                     Algérie
4                                   Allemagne
                        ...
170    Venezuela (République bolivarienne du)
171                                  Viet Nam
172                                     Yémen
173                                    Zambie
174                                  Zimbabwe
Name: Zone, Length: 175, dtype: object

In [10]:
datapop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            175 non-null    object
 1   Domaine                 175 non-null    object
 2   Code zone               175 non-null    int64
 3   Zone                    175 non-null    object
 4   Code Élément            175 non-null    int64
 5   Élément                 175 non-null    object
 6   Code Produit            175 non-null    int64
 7   Produit                 175 non-null    object
 8   Code année              175 non-null    int64
 9   Année                   175 non-null    int64
 10  Unité                   175 non-null    object
 11  Valeur                  175 non-null    int64
 12  Symbole                 1 non-null      object
 13  Description du Symbole  175 non-null    object
dtypes: int64(6), object(8)
memory usage: 19.3+ KB

In [11]:
datapop.describe()

,Code zone,Code Élément,Code Produit,Code année,Année,Valeur
count,175.000000,175.0,175.0,175.0,175.0,1.750000e+02
mean,126.720000,511.0,2501.0,2013.0,2013.0,4.807996e+04
std,75.168519,0.0,0.0,0.0,0.0,1.786327e+05
min,1.000000,511.0,2501.0,2013.0,2013.0,5.400000e+01
25%,64.500000,511.0,2501.0,2013.0,2013.0,2.543500e+03
50%,121.000000,511.0,2501.0,2013.0,2013.0,9.413000e+03
75%,188.500000,511.0,2501.0,2013.0,2013.0,2.888150e+04
max,351.000000,511.0,2501.0,2013.0,2013.0,1.416667e+06

Explorons  la colonne Valleur

In [12]:
datapop["Valeur"]

0      30552
1      52776
2       3173
3      39208
4      82727
       ...
170    30405
171    91680
172    24407
173    14539
174    14150
Name: Valeur, Length: 175, dtype: int64

#Cle  primaire =Valeur ,clé candidates = code zone  , 
#clé artificielle  = identifiant , numero  des lignes 
#

In [13]:
dtpopmon= datapop["Valeur"].sum()*1000
print(dtpopmon)

8413993000

# Mais  cette population est certainement aberrante au regard des  données  réelles trouvées sur Wikipedia.
#Nous allons donc rechercher s'il  n'y a pas eu de doublons dans  les index constituant les  pays.
#Pour cela  nous allons aafficher  la liste des  pays (colonne Zone) et verifier.
#Il ressort de cette verification que  la Chine est  representée  plus de 4 fois

In [14]:
for i in datapop["Zone"]:
    print(i)

Afghanistan
Afrique du Sud
Albanie
Algérie
Allemagne
Angola
Antigua-et-Barbuda
Arabie saoudite
Argentine
Arménie
Australie
Autriche
Azerbaïdjan
Bahamas
Bangladesh
Barbade
Bélarus
Belgique
Belize
Bénin
Bermudes
Bolivie (État plurinational de)
Bosnie-Herzégovine
Botswana
Brésil
Brunéi Darussalam
Bulgarie
Burkina Faso
Cabo Verde
Cambodge
Cameroun
Canada
Chili
Chine
Chine - RAS de Hong-Kong
Chine - RAS de Macao
Chine, continentale
Chine, Taiwan Province de
Chypre
Colombie
Congo
Costa Rica
Côte d'Ivoire
Croatie
Cuba
Danemark
Djibouti
Dominique
Égypte
El Salvador
Émirats arabes unis
Équateur
Espagne
Estonie
Eswatini
États-Unis d'Amérique
Éthiopie
Fédération de Russie
Fidji
Finlande
France
Gabon
Gambie
Géorgie
Ghana
Grèce
Grenade
Guatemala
Guinée
Guinée-Bissau
Guyana
Haïti
Honduras
Hongrie
Îles Salomon
Inde
Indonésie
Iran (République islamique d')
Iraq
Irlande
Islande
Israël
Italie
Jamaïque
Japon
Jordanie
Kazakhstan
Kenya
Kirghizistan
Kiribati
Koweït
Lesotho
Lettonie
Liban
Libéria
Lituanie
Luxembourg
Macédoine du Nord
Madagascar
Malaisie
Malawi
Maldives
Mali
Malte
Maroc
Maurice
Mauritanie
Mexique
Mongolie
Monténégro
Mozambique
Myanmar
Namibie
Népal
Nicaragua
Niger
Nigéria
Norvège
Nouvelle-Calédonie
Nouvelle-Zélande
Oman
Ouganda
Ouzbékistan
Pakistan
Panama
Paraguay
Pays-Bas
Pérou
Philippines
Pologne
Polynésie française
Portugal
République centrafricaine
République de Corée
République de Moldova
République démocratique populaire lao
République dominicaine
République populaire démocratique de Corée
République-Unie de Tanzanie
Roumanie
Royaume-Uni
Rwanda
Sainte-Lucie
Saint-Kitts-et-Nevis
Saint-Vincent-et-les Grenadines
Samoa
Sao Tomé-et-Principe
Sénégal
Serbie
Sierra Leone
Slovaquie
Slovénie
Soudan
Sri Lanka
Suède
Suisse
Suriname
Tadjikistan
Tchad
Tchéquie (la)
Thaïlande
Timor-Leste
Togo
Trinité-et-Tobago
Tunisie
Turkménistan
Turquie
Ukraine
Uruguay
Vanuatu
Venezuela (République bolivarienne du)
Viet Nam
Yémen
Zambie
Zimbabwe

In [15]:
#redressons  la  population en  retirant  les doublons
doubpayspop = datapop.Zone.str.contains("Chine")
print(doubpayspop)

0      False
1      False
2      False
3      False
4      False
       ...
170    False
171    False
172    False
173    False
174    False
Name: Zone, Length: 175, dtype: bool

In [16]:
doublons = datapop[doubpayspop]
doublons

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
33,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,351,Chine,511,Population totale,2501,Population,2013,2013,1000 personnes,1416667,A,"Agrégat, peut inclure des données officielles,..."
34,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,96,Chine - RAS de Hong-Kong,511,Population totale,2501,Population,2013,2013,1000 personnes,7204,NaN,Donnée officielle
35,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,128,Chine - RAS de Macao,511,Population totale,2501,Population,2013,2013,1000 personnes,566,NaN,Donnée officielle
36,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,41,"Chine, continentale",511,Population totale,2501,Population,2013,2013,1000 personnes,1385567,NaN,Donnée officielle
37,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,214,"Chine, Taiwan Province de",511,Population totale,2501,Population,2013,2013,1000 personnes,23330,NaN,Donnée officielle

In [17]:
datapopV=datapop[["Code zone","Zone","Année","Valeur"]]

In [18]:
datapopV.head(5)

   Code zone            Zone  Année  Valeur
0          2     Afghanistan   2013   30552
1        202  Afrique du Sud   2013   52776
2          3         Albanie   2013    3173
3          4         Algérie   2013   39208
4         79       Allemagne   2013   82727

In [19]:
#rectifions la population en y soustrayant  les doublons  
rectpop = datapop.drop([34,35,36,37])
rectpop
popfinale = rectpop["Valeur"].sum() *1000
print(popfinale)

6997326000

In [20]:
datapop.Élément.unique()

array(['Population totale'], dtype=object)

# Animaux

In [21]:
dataanim=pd.read_csv("fr_animaux.csv")

In [22]:
dataanim.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée

In [23]:
dataanim.Domaine.unique()

array(['Bilans Alimentaire (Ancienne méthodologie et population)'],
      dtype=object)

In [24]:
dataanim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37166 entries, 0 to 37165
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Code Domaine            37166 non-null  object
 1   Domaine                 37166 non-null  object
 2   Code zone               37166 non-null  int64
 3   Zone                    37166 non-null  object
 4   Code Élément            37166 non-null  int64
 5   Élément                 37166 non-null  object
 6   Code Produit            37166 non-null  int64
 7   Produit                 37166 non-null  object
 8   Code année              37166 non-null  int64
 9   Année                   37166 non-null  int64
 10  Unité                   37166 non-null  object
 11  Valeur                  37166 non-null  float64
 12  Symbole                 37166 non-null  object
 13  Description du Symbole  37166 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 4.0+ MB

In [25]:
dataanim.tail(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37161,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,0.0,S,Données standardisées
37162,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,0.0,Fc,Donnée calculée
37163,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,0.0,Fc,Donnée calculée
37164,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée
37165,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.0,Fc,Donnée calculée

Clés  primaires =Elements, cles candidates =Produit, Valeur,code zone

# Vegetaux

In [26]:
dataveg=pd.read_csv("fr_vegetaux.csv")

In [27]:
dataveg.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.0,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.0,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.0,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.0,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.0,S,Données standardisées

In [28]:
dataveg.tail(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
104866,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104867,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2680,Aliments pour enfants,2013,2013,g/personne/jour,0.00,Fc,Donnée calculée
104868,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2013,2013,Kcal/personne/jour,2.00,Fc,Donnée calculée
104869,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2013,2013,g/personne/jour,0.07,Fc,Donnée calculée
104870,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2013,2013,g/personne/jour,0.03,Fc,Donnée calculée

cles  primaires = produit, zone, valeur  , unite

In [29]:
fra = dataveg[dataveg["Zone"] =="France"]
fra.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.0,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.0,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.0,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.0,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.0,S,Données standardisées

In [30]:
blefra= fra[fra["Produit" ]== "Blé"]
blefra

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
37487,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,38614.00,S,Données standardisées
37488,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,2055.00,S,Données standardisées
37489,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,1131.00,S,Données standardisées
37490,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5911,Exportations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,21502.00,S,Données standardisées
37491,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,20298.00,S,Données standardisées
37492,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5521,Aliments pour animaux,2511,Blé,2013,2013,Milliers de tonnes,7822.00,S,Données standardisées
37493,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,748.00,S,Données standardisées
37494,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5123,Pertes,2511,Blé,2013,2013,Milliers de tonnes,358.00,S,Données standardisées
37495,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5131,Traitement,2511,Blé,2013,2013,Milliers de tonnes,1575.00,S,Données standardisées
37496,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5154,Autres utilisations (non alimentaire),2511,Blé,2013,2013,Milliers de tonnes,2824.00,S,Données standardisées
37497,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,5142,Nourriture,2511,Blé,2013,2013,Milliers de tonnes,6971.00,S,Données standardisées
37498,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,645,Disponibilité alimentaire en quantité (kg/pers...,2511,Blé,2013,2013,kg,108.43,Fc,Donnée calculée
37499,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,664,Disponibilité alimentaire (Kcal/personne/jour),2511,Blé,2013,2013,Kcal/personne/jour,811.00,Fc,Donnée calculée
37500,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,674,Disponibilité de protéines en quantité (g/pers...,2511,Blé,2013,2013,g/personne/jour,25.99,Fc,Donnée calculée
37501,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,68,France,684,Disponibilité de matière grasse en quantité (g...,2511,Blé,2013,2013,g/personne/jour,4.20,Fc,Donnée calculée

In [32]:
#supprimer  les redondanes du  tableau
datavegV = dataveg[["Code zone","Code Élément","Élément","Produit","Unité","Valeur"]]
datavegV.head()

,Code zone,Code Élément,Élément,Produit,Unité,Valeur
0,2,5511,Production,Blé,Milliers de tonnes,5169.0
1,2,5611,Importations - Quantité,Blé,Milliers de tonnes,1173.0
2,2,5072,Variation de stock,Blé,Milliers de tonnes,-350.0
3,2,5301,Disponibilité intérieure,Blé,Milliers de tonnes,5992.0
4,2,5527,Semences,Blé,Milliers de tonnes,322.0

# Cereales

In [34]:
datacer=pd.read_csv("fr_céréales.csv")

In [35]:
datacer.head(5)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées

#clés  primaires=unite , produit
#clé artificielle= identifiant

# Sous alimentation

In [36]:
datasou=pd.read_csv("fr_sousalimentation.csv",sep=",")

In [37]:
datasou.head(10)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,7.9,F,Estimation FAO,NaN
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,8.8,F,Estimation FAO,NaN
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,9.6,F,Estimation FAO,NaN
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,10.2,F,Estimation FAO,NaN
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,10.6,F,Estimation FAO,NaN
5,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2012-2014,millions,2.6,F,Estimation FAO,NaN
6,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2013-2015,millions,2.8,F,Estimation FAO,NaN
7,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2014-2016,millions,3.2,F,Estimation FAO,NaN
8,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2015-2017,millions,3.4,F,Estimation FAO,NaN
9,FS,Données de la sécurité alimentaire,202,Afrique du Sud,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2016-2018,millions,3.5,F,Estimation FAO,NaN

#cléz  primaires= produit, zone , valeur
#clé artificielle = identifiant

#q2 =production + (importation - exportation) + variation de stock = disponibilité intérieur = Semences- Pertes + Nourriture + Traitement + Autres utilisations
q2 BleFra =
104847.62

In [38]:
blefraV = blefra['Valeur'].sum()
print(blefraV)

104847.62

# Creation de dataframe de  la Relation_population

In [39]:
datapop.Élément.unique()

array(['Population totale'], dtype=object)

In [40]:
dataanim.Élément.unique()

array(['Production', 'Importations - Quantité',
       'Disponibilité intérieure', 'Nourriture',
       'Disponibilité alimentaire en quantité (kg/personne/an)',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Disponibilité de protéines en quantité (g/personne/jour)',
       'Disponibilité de matière grasse en quantité (g/personne/jour)',
       'Semences', 'Pertes', 'Exportations - Quantité',
       'Aliments pour animaux', 'Autres utilisations (non alimentaire)',
       'Variation de stock', 'Traitement'], dtype=object)

In [53]:
q3a= dataanim.groupby(['Élément','Produit', 'Code zone', 'Zone','Unité']).agg({'Valeur': 'sum'}).reset_index()
q3a.head()

,Élément,Produit,Code zone,Zone,Unité,Valeur
0,Aliments pour animaux,Abats Comestible,32,Cameroun,Milliers de tonnes,0.0
1,Aliments pour animaux,Abats Comestible,33,Canada,Milliers de tonnes,3.0
2,Aliments pour animaux,Abats Comestible,49,Cuba,Milliers de tonnes,0.0
3,Aliments pour animaux,Abats Comestible,54,Danemark,Milliers de tonnes,18.0
4,Aliments pour animaux,Abats Comestible,79,Allemagne,Milliers de tonnes,1.0

In [62]:
q3anim = q3a[q3a ['Élément'] =='Disponibilité alimentaire en quantité (kg/personne/an)']
q3anim.head()

,Élément,Produit,Code zone,Zone,Unité,Valeur
6695,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,1,Arménie,kg,4.59
6696,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,2,Afghanistan,kg,1.72
6697,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,3,Albanie,kg,3.50
6698,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,4,Algérie,kg,1.45
6699,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,7,Angola,kg,1.15

In [55]:
#Nous avons  la disponibilité alimentaire ici  en  kilogramme /personne/an 
#pour avoir  en  g/personne/jour ,  nous allons  divisé  par 1000 et  par 365 
#on va designer  resultV la reponse de  la Q3 en g/personne/jour 
#nouvelle colonne  q3anim nom de  la nouvelle conne
q3anim['Valeur (g/pers/j)'] = q3anim['Valeur']* 1000/365
q3anim.head(5)

l:\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Élément,Produit,Code zone,Zone,Unité,Valeur,Valeur (g/pers/j)
6695,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,1,Arménie,kg,4.59,12.575342
6696,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,2,Afghanistan,kg,1.72,4.712329
6697,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,3,Albanie,kg,3.50,9.589041
6698,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,4,Algérie,kg,1.45,3.972603
6699,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,7,Angola,kg,1.15,3.150685

In [56]:
#multiplier  la valeur  par  le  nombr
#d'habitant de chaque  pays  pour avoir  la disponibilite  par  pays  en  kg/an 
#combine  les dataframes

In [68]:
datapaysdispo = datapopV[['Code zone', 'Zone','Valeur']]

# Je renomme la colonne Valeur en 'Population (1000 hab)' afin que ce soit plus clair dans la DataFrame finale
datapaysdispo= datapaysdispo.rename(columns={'Valeur': 'Population (1000 hab)'})

datapaysdispo.head(5)

   Code zone            Zone  Population (1000 hab)
0          2     Afghanistan                  30552
1        202  Afrique du Sud                  52776
2          3         Albanie                   3173
3          4         Algérie                  39208
4         79       Allemagne                  82727

## Aide pour le merge

Pour "merger" deux dataframe, il faut utiliser la fonction _merge_ et dire à la fonction quelles sont les colonnes qui doivent être utilisées pour lier les lignes des DataFrame. 

Par exemple ici, on veut ajouter sur chaque ligne de q3anim la population du pays correspondant à cette ligne. On va donc dire à _merge_ de chercher sur chaque ligne de q3anim le code du pays de la ligne, et de trouver dans datapays la ligne avec le même code pays, afin d'ajouter les infos de cette ligne-là dans q3anim.

Ainsi, les paramètres _left_on_ et _right_on_ doivent valoir les noms des colonnes contenant les codes des pays pour chacune des dataframe. Pour trouver le nom de ces colonnes, j'affiche dans les deux cellules suivantes les colonnes des deux dataframes.

In [69]:
datapaysdispo.columns

Index(['Code zone', 'Zone', 'Population (1000 hab)'], dtype='object')

In [70]:
q3anim.columns

Index(['Élément', 'Produit', 'Code zone', 'Zone', 'Unité', 'Valeur'], dtype='object')

In [71]:
# fusionnons  les deux  tables pour repondre a  la question  pour Anim 
q3anim_pop = q3anim.merge(datapaysdispo, left_on = 'Code zone' , right_on = 'Code zone')
q3anim_pop

,Élément,Produit,Code zone,Zone_x,Unité,Valeur,Zone_y,Population (1000 hab)
0,Disponibilité alimentaire en quantité (kg/pers...,Abats Comestible,1,Arménie,kg,4.59,Arménie,2977
1,Disponibilité alimentaire en quantité (kg/pers...,Animaux Aquatiques Autre,1,Arménie,kg,0.00,Arménie,2977
2,Disponibilité alimentaire en quantité (kg/pers...,"Beurre, Ghee",1,Arménie,kg,1.76,Arménie,2977
3,Disponibilité alimentaire en quantité (kg/pers...,Cephalopodes,1,Arménie,kg,0.00,Arménie,2977
4,Disponibilité alimentaire en quantité (kg/pers...,Crustacés,1,Arménie,kg,0.02,Arménie,2977
...,...,...,...,...,...,...,...,...
3721,Disponibilité alimentaire en quantité (kg/pers...,Viande d'Ovins/Caprins,351,Chine,kg,3.09,Chine,1416667
3722,Disponibilité alimentaire en quantité (kg/pers...,Viande de Bovins,351,Chine,kg,5.23,Chine,1416667
3723,Disponibilité alimentaire en quantité (kg/pers...,Viande de Suides,351,Chine,kg,38.60,Chine,1416667
3724,Disponibilité alimentaire en quantité (kg/pers...,Viande de Volailles,351,Chine,kg,13.73,Chine,1416667
3725,Disponibilité alimentaire en quantité (kg/pers...,"Viande, Autre",351,Chine,kg,1.17,Chine,1416667

In [ ]:
datacer.Élément.unique()

In [ ]:
dataveg.Élément.unique()

In [46]:
q3b = dataveg.groupby(['Élément','Produit', 'Zone','Unité']).agg({'Valeur': 'sum'}).reset_index()

In [47]:
#dans  un variable  q3veg ,je veux toutes  les  lignes  du tableau  q3 dont  la colonne  element  du ttableau Q3 ,sont egales 
#à disponibilite alimentaire 

q3veg= q3b[q3b["Élément"] =="Disponibilité alimentaire en quantité (kg/personne/an)"]

q3veg.head()

,Élément,Produit,Zone,Unité,Valeur
15966,Disponibilité alimentaire en quantité (kg/pers...,"Agrumes, Autres",Afghanistan,kg,1.29
15967,Disponibilité alimentaire en quantité (kg/pers...,"Agrumes, Autres",Afrique du Sud,kg,0.14
15968,Disponibilité alimentaire en quantité (kg/pers...,"Agrumes, Autres",Albanie,kg,0.24
15969,Disponibilité alimentaire en quantité (kg/pers...,"Agrumes, Autres",Algérie,kg,0.23
15970,Disponibilité alimentaire en quantité (kg/pers...,"Agrumes, Autres",Allemagne,kg,2.27

In [ ]:
q3 en (g/personne/jour)=(q3veg/1000) /365 
print(q3 en (g/personne/jour)

In [ ]:
#element  on  l'a deduit  pour trouver  les disponiblites  , zone  ,  produits sont  imposes  l'enonces  - 
# il  nous  ont demande  la somme  - les valeurs qu'il faut sommer sont dans  valeur  c'est pour  cela  qu'on  l'a agregé  ,  
#ligne 43 et 44 pour le dataanil - 
# en  kcal  prends  l'eleemnt  -
#  diviser  les resultatts de  la disponibilite   calorie  par  le resultats  de  la disponbilite  kg (Jour  ) les deux  
#q4  jointure  interne   a gauche   tableau  de q3 et le taille de  la taille  de  la population du pays  -

In [ ]:
#q4 jointure  interne   a gauche   tableau  de q3 et le taille de  la taille  de  la population du pays  -
# ecrire  sur  papier  les  operations a faires  et comment  les combiner  - multiplie  ou  diviser